<div class="container d-flex flex-column justify-content-center">
    <div class="card">
        <div class="card-body">
            <div>
                I'm a perpetually curious developer, who loves adding new topics to my list of things to explore. I particularly value working collaboratively with my team. Clarity in code and communication is especially important to me. When problem solving, I focus on streamlining complex systems in service of delivering exceptional customer experiences. 
            </div>
        </div>
    </div>
</div>
