<div class="container d-flex flex-column justify-content-center">
    <div class="card">
        <div class="card-body">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Turpis egestas integer eget aliquet nibh praesent tristique. Mi proin sed libero enim. Sollicitudin aliquam ultrices sagittis orci. Lacus vel facilisis volutpat est velit egestas dui id. Aliquam faucibus purus in massa tempor nec. Diam maecenas sed enim ut. In fermentum et sollicitudin ac orci phasellus egestas tellus. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Sed cras ornare arcu dui. Viverra nibh cras pulvinar mattis. Tincidunt lobortis feugiat vivamus at augue eget. Tortor condimentum lacinia quis vel eros donec ac odio. Adipiscing commodo elit at imperdiet dui accumsan sit amet nulla. Est ullamcorper eget nulla facilisi etiam. Magna sit amet purus gravida quis blandit turpis.
            </div>
        </div>
    </div>
</div>
