<!-- <div class="container d-flex flex-column justify-content-center">
    <div class="card">
        <h5 class="card-header">Coding Books I've Been Reading</h5>
        <div class="card-body">
            <ul *ngIf="sortedBooks" class="list-group list-group-flush">
                <li *ngFor="let book of sortedBooks" class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{book.title}}</div>
                        {{book.author}}
                    </div>
                    <span>{{book.when | date: 'shortDate'}}</span>
                </li>
            </ul>
        </div>
    </div>
</div> -->


<div class="reading-container">
    <h2>Coding Books I've Been Reading</h2>
    <div>
        <ul *ngIf="sortedBooks">
            <li *ngFor="let book of sortedBooks" class="book-card">
                <div class="book-info">
                    <div class="title">{{book.title}}</div>
                    <div class="author">{{book.author}}</div>
                </div>
                <div class="timeline">
                    <div class="when">{{book.when | date: 'shortDate'}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>