<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" routerLink="/">Regina Connolly</a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/">RCon</a>
                <!-- <a class="nav-link" routerLink="/about">About Me</a> -->
                <!-- <a class="nav-link" routerLink="/resume">Resume</a> -->
                <a class="nav-link" routerLink="/reading">Reading</a>
                <a class="nav-link" href="https://github.com/reg710?tab=repositories" target="_blank" rel="noopener">Projects</a>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>