/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Figtree', sans-serif;
    src: url('../src/assets/Figtree-Regular.ttf');
}

body {
    background: #f2f2f2;
    color: #222222;
    margin: 0;
}