<div class="main-container">

    <div class="hero-text">
        <h1 class="name">Regina Connolly</h1>
        <h2 class="title">Software Developer</h2>
    </div>

    <div class="hero">
        <div class="hero-image-wrap">
            <div class="hero-image" >
                <img src="assets/images/profile_pic.jpg" />
            </div>
        </div>
    </div>

    <div class="bio">
        I'm a perpetually curious full-stack developer, who loves adding new topics to my list of things to explore. I particularly
        value working collaboratively with my team. Clarity in code and communication is especially important to me.
        When problem solving, I focus on streamlining complex systems in service of delivering exceptional customer
        experiences.
    </div>

    <div class="button-row">
            <button routerLink="/reading" class="orange-button">Reading</button>
            <button routerLink="/resume" class="orange-button">Resume</button>
            <a href="https://github.com/reg710?tab=repositories" target="_blank" rel="noopener"><button class="orange-button">Projects</button></a>
    </div>
    
</div>

